@tailwind base;
@tailwind components;


.tabla {
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(7deg,  #ed1b2d ,#255584);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(7deg,  #ed1b2d, #255584);
}


/* css personalizado rojo ed1b2b*/
.bg-header
{
  background-color: #ed1b2d;
}

.bg-menu{
    background-color:#255584;
}


.text-menu{
    color: #255584;

}


/*slider*/

.swiper-container {
    overflow: hidden;
    width: 100%;

    }

    .custom-swiper-container {
    overflow: hidden;
    width: 100%;

    }

    .swiper-wrapper {
    display: flex;
    }

    .swiper-button-prev,
    .swiper-button-next {
    color: #1a202c !important; /* Cambiar el color de los botones de navegación */
    }


    /* El icono será movido de izquierda a derecha */
    .icon-soccer {
        transition: transform 0.3s ease, margin-left 0.3s ease;
    }

    /* Cuando el contenedor recibe hover, mueve el icono de izquierda a derecha */
    .group:hover .icon-soccer {
        transform: translateX(20px); /* Desplaza 20px hacia la derecha */
    }
    @tailwind utilities;
